div[ng-controller$="accountsCtrl"] {
	top: 50px;
}
div[ng-controller$="accountsCtrl"]>header{
	margin-bottom: 50px;
}

@media screen and (max-width: 768px){
	div[ng-controller$="accountsCtrl"] {
		top: 140px;	
	}
	h1{
		font-size: 25px;
	}
}