<!-- FILTROO BUSQUEDA PERSONAL -->
<p>
    <label for="importe" class="control-label">Filtrar</label> : 
    <input type="search" name="filtro" class="input text-center"
            placeholder="qué buscas?" autofocus='autofocus'
            ng-class="{ 'selectedInput' : !!filtroMovCtr.valorBuscado }"
            ng-model="filtroMovCtr.valorBuscado" />
    <a href="" ng-click="filtroMovCtr.valorBuscado=''">X</a>
</p>

<!-- FILTRO POR IMPORTE -->
<ul class="pagination pagination-sm">
    <li ><a href="" ng-click="filtroMovCtr.valorCorte=true"
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==true } ">Todos</a></li>
</ul>

<ul class="pagination pagination-sm">
    <li ><a href="" ng-click="filtroMovCtr.valorCorte=false"
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==false } ">Nulo</a></li>
</ul>

<ul class="pagination pagination-sm">
    <li><a href=""  ng-click="filtroMovCtr.valorCorte=500"
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==500 } ">&gt; 500</a></li>
    <li><a href=""  ng-click="filtroMovCtr.valorCorte=1000"
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==1000 } ">&gt;  1000</a></li>
    <li><a href=""  ng-click="filtroMovCtr.valorCorte=5000"
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==5000 } ">&gt; 5000</a></li>
</ul>

<ul class="pagination pagination-sm btn-info">
    <li><a href=""  ng-click="filtroMovCtr.valorCorte=-500"
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==-500 } ">&lt; 500</a></li>
    <li><a href=""  ng-click="filtroMovCtr.valorCorte=-1000"
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==-1000 } ">&lt; 1000</a></li>
    <li><a href=""  ng-click="filtroMovCtr.valorCorte=-5000"
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==-5000 } ">&lt; 5000</a></li>
</ul>


<!-- FILTRO POR RANGO DE FECHA -->
<ul class="nav nav-justified" role="tablist">
    <!-- SWITCH DATA FILTER -->
    <li><input type="checkbox" id="dateFilter" name="dateFilter"
            ng-model="filtroMovCtr.checkData"
            ng-click="filtroMovCtr.resetDate()" >
        <label for="dateFilter">filtro fecha</label>
    </li><BR/>

    <!-- CALENDARIO -->
    <li>desde: <input type="date" class="filterDate"
            ng-disabled="!filtroMovCtr.checkData"
            ng-class=" { 'selectedButon' : filtroMovCtr.checkData } "
            ng-model="filtroMovCtr.start_date"></li>
    <li>hasta: <input type="date" class="filterDate"
            ng-disabled="!filtroMovCtr.checkData"
            ng-class=" { 'selectedButon' : filtroMovCtr.checkData } "
            ng-model="filtroMovCtr.end_date"></li>

    <!-- FILTRO MES ACTUAL -->
    <li><input
            type="checkbox" id="dateActualMonth" name="dateActualMonth"
            ng-checked="filtroMovCtr.isActualMonth()"
            ng-disabled="filtroMovCtr.isActualMonth()"
            ng-model="filtroMovCtr.checkActualMonth"
            ng-click="filtroMovCtr.setActualMonth()"/>
        <label for="dateActualMonth">Este Mes</label>
    </li>
    
    <!-- FILTRO AÑO ACTUAL -->
    <li><input
            type="checkbox" id="dateActualYear" name="dateActualYear"
            ng-checked="filtroMovCtr.isActualYear()"
            ng-disabled="filtroMovCtr.isActualYear()"
            ng-model="filtroMovCtr.checkActualYear"
            ng-click="filtroMovCtr.setActualYear()"/>
        <label for="dateActualYear">Este Año</label>
    </li>

    <!-- FILTRO SEMANA ACTUAL -->
    <li><input
            type="checkbox" id="dateActualWeek" name="dateActualWeek"
            ng-checked="filtroMovCtr.isActualWeek()"
            ng-disabled="filtroMovCtr.isActualWeek()"
            ng-model="filtroMovCtr.checkActualWeek"
            ng-click="filtroMovCtr.setActualWeek()"/>
        <label for="dateActualWeek">Esta semana</label>
    </li>

    <!-- FILTRO HOY ACTUAL -->
    <li><input type="checkbox" id="dateActualDay" name="dateActualDay"
            ng-checked="filtroMovCtr.isToday()"
            ng-disabled="filtroMovCtr.isToday()"
            ng-model="filtroMovCtr.checkToday"
            ng-click="filtroMovCtr.setToday()"/>
        <label for="dateActualDay">Hoy</label>
    </li>
</ul>