<!-- FILTROO BUSQUEDA PERSONAL -->
<p id="personalSearchFilter">
    <label for="importe" class="control-label">Filtrar</label> : 
    <input type="search" name="filtro" class="input text-center"
            reset-fixed-table
            placeholder="qué buscas?" autofocus='autofocus'
            ng-class="{ 'selectedInput' : !!filtroMovCtr.valorBuscado }"
            ng-model="filtroMovCtr.valorBuscado" />
    <a href=""  ng-click="filtroMovCtr.valorBuscado=''"
                ng-show="filtroMovCtr.valorBuscado!=''">
        <span class="glyphicon glyphicon-remove-circle"></span>
    </a>
</p>

<!-- PANEL DE FILITROS PERSONALIZADOS: por importe, rango de fechas, tipo de importe y categoria del importe-->
<div class="panel panel-default" id="panelAdvancedFilters">
    <div    class="panel-heading"
            display-panel-filters>
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseOne" 
           href="">
          filtros avanzados
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

<!-- ******************************************************************************* -->
<!-- FILTRO POR IMPORTE -->
<ul class="pagination pagination-sm">
    <li ><a href="" ng-click="filtroMovCtr.valorCorte=true"
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==true } ">
         cualquier importe</a></li>
</ul>

<ul class="pagination pagination-sm">
    <li ><a href="" ng-click="filtroMovCtr.valorCorte=false"
                    reset-fixed-table
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==false } ">
         importe nulo</a></li>
</ul>

<ul class="pagination pagination-sm">
    <li><a href=""  ng-click="filtroMovCtr.valorCorte=500"
                    reset-fixed-table
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==500 } ">&gt; 500</a></li>
    <li><a href=""  ng-click="filtroMovCtr.valorCorte=1000"
                    reset-fixed-table
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==1000 } ">&gt;  1000</a></li>
    <li><a href=""  ng-click="filtroMovCtr.valorCorte=5000"
                    reset-fixed-table
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==5000 } ">&gt; 5000</a></li>
</ul>

<ul class="pagination pagination-sm btn-info">
    <li><a href=""  ng-click="filtroMovCtr.valorCorte=-500"
                    reset-fixed-table
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==-500 } ">&lt; 500</a></li>
    <li><a href=""  ng-click="filtroMovCtr.valorCorte=-1000"
                    reset-fixed-table
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==-1000 } ">&lt; 1000</a></li>
    <li><a href=""  ng-click="filtroMovCtr.valorCorte=-5000"
                    reset-fixed-table
                    ng-class=" { 'selectedButon' : filtroMovCtr.valorCorte==-5000 } ">&lt; 5000</a></li>
</ul>


<!-- FILTRO POR RANGO DE FECHA -->
<ul class="nav nav-justified" role="tablist">
    <!-- SWITCH DATA FILTER -->
    <li><input type="checkbox" id="dateFilter" name="dateFilter"
            ng-model="filtroMovCtr.checkData"
            reset-fixed-table
            ng-click="filtroMovCtr.resetDate()" >
        <label for="dateFilter">filtro fecha</label>
    </li><BR/>

    <!-- CALENDARIO -->
    <li>desde: <input type="date" class="filterDate text-center"
            ng-disabled="!filtroMovCtr.checkData"
            ng-class=" { 'selectedButon' : filtroMovCtr.checkData } "
            reset-fixed-table
            prevent-data-change
            ng-model="filtroMovCtr.start_date"></li>

    <li>hasta: <input type="date" class="filterDate text-center"
            ng-disabled="!filtroMovCtr.checkData"
            ng-class=" { 'selectedButon' : filtroMovCtr.checkData } "
            prevent-data-change
            ng-model="filtroMovCtr.end_date"></li>

    <!-- FILTRO MES ACTUAL  -->
    <li><input
            type="radio" id="dateActualMonth" name="dateActual"
            ng-checked="false"
            ng-disabled="!filtroMovCtr.checkData"
            ng-model="filtroMovCtr.checkActualMonth"
            ng-click="filtroMovCtr.setActualMonth()"
            />
        <label for="dateActualMonth">Este Mes</label>
    </li>
    
    <!-- FILTRO AÑO ACTUAL -->
    <li><input
            type="radio" id="dateActualYear" name="dateActual"
            ng-checked="false"
            ng-disabled="!filtroMovCtr.checkData"
            ng-model="filtroMovCtr.checkActualYear"
            ng-click="filtroMovCtr.setActualYear()" />
        <label for="dateActualYear">Este Año</label>
    </li>

    <!-- FILTRO SEMANA ACTUAL -->
    <li><input
            type="radio" id="dateActualWeek" name="dateActual"
            ng-checked="false"
            ng-disabled="!filtroMovCtr.checkData"
            ng-model="filtroMovCtr.checkActualWeek"
            ng-click="filtroMovCtr.setActualWeek()" />
        <label for="dateActualWeek">Esta semana</label>
    </li>

    <!-- FILTRO HOY ACTUAL -->
    <li><input type="radio" id="dateActualDay" name="dateActual"
            ng-checked="false"
            ng-disabled="!filtroMovCtr.checkData"
            ng-model="filtroMovCtr.checkToday"
            ng-click="filtroMovCtr.setToday()" />
        <label for="dateActualDay">Hoy</label>
    </li>
</ul>
<!-- ******************************************************************************* -->

      </div>
    </div>
  </div>