#accountSectionViews {
	top: 100px;
}
#totalCountsSection header{
	margin-bottom: 50px;
}
.row{
	margin: 0 auto 0;
}

@media screen and (max-width: 768px){
	#accountSectionViews {
		top: 140px;	
	}
	h1{
		font-size: 25px;
	}
}