<!-- APLICACION: tabla de movimientos acumulados y sistema de ordenamiento por fecha e importe
IMPLEMMENTACION: guardar en cache e imprimir en tabla, el nuevo registro de la propiedad movimientos[]
 que hemos bindeado anteriormente-->
<div class="row-fluid">
    <mensaje>Lista de movimientos actuales</mensaje>
    <p>
        <label for="importe" class="control-label">Filtrar</label> : 
        <input type="search" name="filtro" class="input text-center"
                placeholder="qué buscas?" autofocus='autofocus'
                ng-class="{ 'selectedInput' : !!valorBuscado }"
                ng-model="valorBuscado"/>
        <a href="" ng-click="valorBuscado=''">X</a>
    </p>
    <!-- FILTRO POR IMPORTE -->
    <ul class="pagination pagination-sm">
        <li ><a href="" ng-click="valorCorte=0"
                        ng-class=" { 'selectedButon' : valorCorte==0 } ">Todos</a></li>
    </ul>
    
    <ul class="pagination pagination-sm">
        <li><a href=""  ng-click="valorCorte=500"
                        ng-class=" { 'selectedButon' : valorCorte==500 } ">&gt; 500</a></li>
        <li><a href=""  ng-click="valorCorte=1000"
                        ng-class=" { 'selectedButon' : valorCorte==1000 } ">&gt;  1000</a></li>
        <li><a href=""  ng-click="valorCorte=5000"
                        ng-class=" { 'selectedButon' : valorCorte==5000 } ">&gt; 5000</a></li>
    </ul>

    <ul class="pagination pagination-sm btn-info">
        <li><a href=""  ng-click="valorCorte=-500"
                        ng-class=" { 'selectedButon' : valorCorte==-500 } ">&lt; 500</a></li>
        <li><a href=""  ng-click="valorCorte=-1000"
                        ng-class=" { 'selectedButon' : valorCorte==-1000 } ">&lt; 1000</a></li>
        <li><a href=""  ng-click="valorCorte=-5000"
                        ng-class=" { 'selectedButon' : valorCorte==-5000 } ">&lt; 5000</a></li>
    </ul>

    <!-- FILTRO POR RANGO DE FECHA -->
    <ul class="nav nav-justified" role="tablist">
        <li>desde: <input type="date" class="filterDate"
                ng-disabled="!checkData"
                ng-class=" { 'selectedButon' : checkData } "
                ng-model="start_date"></li>
        <li>hasta: <input type="date" class="filterDate"
                ng-disabled="!checkData"
                ng-class=" { 'selectedButon' : checkData } "
                ng-model="end_date"></li>

        <li><input type="checkbox" id="dateFilter" name="dateFilter"
                ng-model="checkData"
                ng-click="start_date = ''; end_date = end_date;" >
            <label for="dateFilter">filtro fecha</label>
        </li>
    </ul><br/><br/>

    <table class="table" id="tableCountList">
        <thead><tr>
            <th>{{filteredMov.length}} movimientos</th>
            <th><a href="" ng-click="
                    campo = 'fecha';
                    sentido = (campo === 'fecha') &amp;&amp; !sentido;
                ">fecha</a></th>
            <th>tipo: 
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs"
                            ng-click="valorBuscado='ingreso'">ingresos</button>
                    <button type="button" class="btn btn-default btn-xs"
                            ng-click="valorBuscado='gasto'">gastos</button>
                </div>
            </th>
            <th>categoria</th>
            <th>concepto</th>
            <th><a href="" ng-click="
                    campo = 'importe';
                    sentido = (campo === 'importe') &amp;&amp; !sentido;
                ">importe</a></th>
        </tr></thead>
        <tbody>
            <!-- <tr ng-repeat=" movimiento in accountsCtrl.movimientos |
                            impInput:valorCorte |
                            filter:valorBuscado |
                            orderBy:campo:sentido"> 
            //ahora tenemos 'filteredMov', que captura el array de movimientos filtrados
            -->
            <tr ng-repeat=" movimiento in filteredMov = (  accountsCtrl.movimientos |
                                                            impInput:valorCorte |
                                                            filter:valorBuscado |
                                                            orderBy:campo:sentido |
                                                            dateRange:start_date:end_date:checkData )">
                <td>
                    <a ng-href="#/movimiento/{{movimiento.id}}">{{movimiento.id}}</a>
                </td>
                <td>{{movimiento.fecha | byDefault | date}}</td>
                <td>{{movimiento.tipo | byDefault}}</td>
                <td>{{movimiento.categoria | byDefault | capitalyzeAll}}</td>
                <td>{{movimiento.concepto | cutInput:15}}</td>
                <td ng-class="
                    { 'text-success': movimiento.tipo === 'ingreso',
                      'text-danger' : movimiento.tipo === 'gasto'    }
                "><strong>{{movimiento.importe | number:2 | parseAmount:'Euros' }}</strong></td>
            </tr>
        </tbody>
        <tfoot>
           <tr>
               <td><strong>{{filteredMov.length}} movimientos</strong></td>
               <td></td><td></td><td></td><td></td>
               <td><strong ng-class=" { 'text-danger' : getTotal() < 0,
                                         'text-success' : getTotal() >= 0}">
                {{ getTotal() | number:2 | parseAmount:'Euros' }}</strong></td>
           </tr>
       </tfoot>   
    </table>
</div>


