
#accountSectionViews {
	top: 100px;
}
#totalCountsSection header{
	margin-bottom: 50px;
}
.row{
	margin: 0 auto 0;
}
#tableCountList>thead>tr>th,
#tableCountList>tbody>tr>td:nth-of-type(3):first-Letter, /*tipo movimiento*/
#tableCountList>tbody>tr>td:nth-of-type(4):first-Letter{ /*categoria movimiento*/
	text-transform: uppercase;
}
#tableCountList th,
#tableCountList td{
	text-align: center;
    vertical-align: middle !important;
}
#tableCountList tbody td{   
    vertical-align: initial !important;
}
#tableCountList .glyphicon{
    color: rgb(88, 189, 10) !important;
}
#tableCountList .categMov>span{
    text-transform: capitalize;
    line-height: 2em;
}
/*#tableCountList .categMov>span:before{
    content: ' : ';
}*/
#tableCountList select{
    display: inline;
    vertical-align: sub;
    width: 10px;
    height: 25px;
}
#tableCountList .tipoMov .btn-group{   
    vertical-align: sub;
}
/*configurar elipsi de propiedad 'concepto' a 150px
--> th.col-md-2.colsm-2*/
.setWidth{
    max-width: 150px;
}
.concat{
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: inherit;
}

.controls textarea{
	width: 80%;
	height: 100px;
}

tbody tr:hover{
    cursor: pointer;
}

.selectedButon,
.selectedInput{
        border: 3px solid rgb(88, 189, 10) !important;
}

.meanSentido{
    position: absolute;
    top: -12px;
    width: 100px;
    right: -60px;
    font-size: 0.7em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
}

.movReferenceDoc{
    position: relative;
}
.movReferenceDoc>span{
    position: absolute;
    height: 100%;
}
.movReferenceDoc>span:first-child{
    left: 0;
    width: 20%;
}
.movReferenceDoc>span:last-child{
    right: 0;
    width: 80%;
    text-align: center;
}
.movReferenceDoc .setWidth{
    max-width: 130px;
}

input[type='text']:valid:focus,
input[type='url']:valid:focus,
input[type='search']:valid:focus,
input[type='password']:valid:focus,
input[type='email']:valid:focus{
    animation: anim_focus 2s linear 0s infinite normal;
    -webkit-animation: anim_focus 2s linear 0s infinite normal;
    -moz-animation: anim_focus 2s linear 0s infinite normal;
}
@keyframes anim_focus{
    from{ background-color: rgb(193, 250, 149); }
    50%{ background-color: rgb(88, 189, 10); }
    to{ background-color: rgb(193, 250, 149); }
}
@-webkit-keyframes anim_focus{
    from{ background-color: rgb(193, 250, 149); }
    50%{ background-color: rgb(88, 189, 10); }
    to{ background-color: rgb(193, 250, 149); }
}
@-moz-keyframes anim_focus{
    from{ background-color: rgb(193, 250, 149); }
    50%{ background-color: rgb(88, 189, 10); }
    to{ background-color: rgb(193, 250, 149); }
}

.printView{
    display: none;
}

.small{
    font-size: 75% !important;
}
#tableCountList .small {
    color: rgb(165, 144, 144);
}

#newMovForm .small {
    color: rgb(255, 255, 255);
}

#newMovForm textarea,
#newMovForm [name="factura"],
#newMovForm [name="fecha"],
#newMovForm [name="categ"],
#newMovForm [name="importe"]{
    /*text-align: center;*/
    text-indent: 15px;
}
#tableCountList tfoot td{
    font-size: 0.7em;
    line-height: 0.7em;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;
}
#tableCountList tfoot td.categMov{
    line-height: 1.5em;
}
#tableCountList tfoot tr>td:last-child{
    font-size: 16px;
    line-height: 16px;
}
.panel-heading{
    text-transform: capitalize;
    font-family: serif;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    font-size: 0.7em;
    float: right; 
    color: grey;
    line-height: 1.7em;
}

.collapseGlyphicons:after {
    content: "\e080" !important;
    font-size: 1em !important;
    line-height: 1em !important;
}

#personalSearchFilter,
#panelAdvancedFilters{
    margin: 30px auto; /*fusion de margenes verticales*/
}
#collapseOne{
    display: none;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe
{
    background: #E7E7E7;
    color: #000;
    width: 50%;
    padding: 10px;
    margin: 10% auto;
    font-size: 16px;
}
.chromeframe a
{
    color: #239407;
    text-decoration: underline;
}

@media screen and (max-width: 768px){
	#accountSectionViews {
		top: 140px;	
	}
	h1{
		font-size: 25px;
	}
    .orderCampo{ position: relative !important; }
    .orderCampo .orderCampoId{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .orderCampo .orderCampoFecha,
    .orderCampo .orderCampoImporte{
        top: 31px;
        left: 74px;
    }
    .meanSentido{
        top: 0;
        width: 100px;
        right: -80px;
    }
    .btn-group.btnValorBuscado {
        display: flex;
    }
}

.noWrap:before{
    content: " : ";
}
@media only screen and (max-width : 1200px){
    .noWrap{
        display: block;
    }
    .noWrap:before{
        content: "";
    }
}

@media only screen and (max-width : 992px){
    #tableCountList th:first-child{
        color: red;
        padding-top: 20px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 992px){
    .orderCampo{ position: relative !important; }
    .orderCampo .orderCampoId{
        position: absolute;
        top: 10px;
        left: 23px;
    }
    .meanSentido {
        top: 2px;
        right: -80px;
    }
    .btn-group.btnValorBuscado {
        display: inline-flex;
    }
    #tableCountList select{
        width: 100%;
    }
}