#accountSectionViews {
	top: 100px;
}
#totalCountsSection header{
	margin-bottom: 50px;
}
.row{
	margin: 0 auto 0;
}
#tableCountList>thead>tr>th,
#tableCountList>tbody>tr>td:nth-of-type(3):first-Letter, /*tipo movimiento*/
#tableCountList>tbody>tr>td:nth-of-type(4):first-Letter{ /*categoria movimiento*/
	text-transform: uppercase;
}
#tableCountList th,
#tableCountList td{
	text-align: center;
}
.controls textarea{
	width: 80%;
	height: 100px;
}

.selectedButon,
.selectedInput{
        border: 2px solid rgb(88, 189, 10) !important;
}

input[type='text']:valid:focus,
input[type='url']:valid:focus,
input[type='search']:valid:focus,
input[type='password']:valid:focus,
input[type='email']:valid:focus{
    animation: anim_focus 2s linear 0s infinite normal;
    -webkit-animation: anim_focus 2s linear 0s infinite normal;
    -moz-animation: anim_focus 2s linear 0s infinite normal;
}
@keyframes anim_focus{
    from{ background-color: rgb(193, 250, 149); }
    50%{ background-color: rgb(88, 189, 10); }
    to{ background-color: rgb(193, 250, 149); }
}
@-webkit-keyframes anim_focus{
    from{ background-color: rgb(193, 250, 149); }
    50%{ background-color: rgb(88, 189, 10); }
    to{ background-color: rgb(193, 250, 149); }
}
@-moz-keyframes anim_focus{
    from{ background-color: rgb(193, 250, 149); }
    50%{ background-color: rgb(88, 189, 10); }
    to{ background-color: rgb(193, 250, 149); }
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe
{
    background: #E7E7E7;
    color: #000;
    width: 50%;
    padding: 10px;
    margin: 10% auto;
    font-size: 16px;
}
.chromeframe a
{
    color: #239407;
    text-decoration: underline;
}

@media screen and (max-width: 768px){
	#accountSectionViews {
		top: 140px;	
	}
	h1{
		font-size: 25px;
	}
}