<!-- APLICATION: formulario para la adicion de un nuevo movimiento, gasto o ingreso
      IMPLEMENTACION: doble binding, a traves de controles de formulario, en nueva propiedad de movimientos[] -->
<div class="row-fluid">
    <form action="" class="form-horizontal text-left">
        <fieldset>
            <div id="legend">
                <legend class="">Introduce un nuevo movimiento</legend>
            </div>

            <div class="row-fluid">
                <!-- TIPO MOVIMIENTO -->
                <div class="col-xs-12 col-sm-6">
                    <div class="control-group">
                        <label for="tipo" class="control-label">Tipo</label>
                        <div class="controls">
                            <div class="btn-group">
                                <button class="btn btn-success"
                                      ng-click="accountsCtrl.nuevoMovimiento.esIngreso = 1;
                                                accountsCtrl.nuevoMovimiento.esGasto = 0;
                                                accountsCtrl.resetMovimiento(); "
                                      ng-class="{'active': accountsCtrl.nuevoMovimiento.esIngreso === 1}">
                                      <span ng-class="{'small': accountsCtrl.nuevoMovimiento.esIngreso === 0}">+ Ingreso</span>
                                </button>
                                <button class="btn btn-danger"
                                      ng-click="accountsCtrl.nuevoMovimiento.esIngreso = 0;
                                                accountsCtrl.nuevoMovimiento.esGasto = 1;
                                                accountsCtrl.resetMovimiento(); "
                                      ng-class="{'active': accountsCtrl.nuevoMovimiento.esGasto === 1}">
                                      <span ng-class="{'small': accountsCtrl.nuevoMovimiento.esGasto === 0}">- Gasto</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- CATEGORIA MOVIMIENTO-->
                    <div class="control-group">
                        <label for="categ" class="control-label">Categoria</label>
                        <div class="controls">
                          <select name="categ"
                                  ng-show="accountsCtrl.nuevoMovimiento.esIngreso"
                                  ng-model="accountsCtrl.nuevoMovimiento.categoria"
                                  ng-options="categ for categ in accountsCtrl.maestros.categoriasIngresos"
                                  >
                              <option value=""></option>
                          </select>
                          <select name="categ"
                                  ng-show="accountsCtrl.nuevoMovimiento.esGasto !== 0"
                                  ng-model="accountsCtrl.nuevoMovimiento.categoria"
                                  ng-options="categ for categ in accountsCtrl.maestros.categoriasGastos">
                              <option value=""></option>
                          </select>
                      </div>
                    </div>
                    <!-- CONCEPTO MOVIMIENTO -->
                    <div class="control-group">
                        <label for="concepto" class="control-label">Concepto</label>
                        <div class="controls">
                            <textarea name="concepto" class="input"
                                      ng-model="accountsCtrl.nuevoMovimiento.concepto"></textarea>
                        </div>
                    </div>
                </div>

                <!-- seleccionar la fecha y la cantidad del tipo de importe -->
                <div class="col-xs-12 col-sm-6">
                  <div class="control-group">
                        <label for="fecha" class="control-label">Fecha</label>
                        <div class="controls">
                            <input type="date" name="fecha" class="input"
                                  ng-model="accountsCtrl.nuevoMovimiento.fecha" value="">
                        </div>
                  </div>
                  <div class="control-group">
                        <label for="importe" class="control-label">Importe</label>
                        <div class="controls">
                            <input type="number" name="importe" class="input"
                                  ng-model="accountsCtrl.nuevoMovimiento.importe" value="">
                        </div>
                  </div><br/>
                  <div class="control-group">
                      <strong>Categoria seleccionada</strong>: 
                      {{ accountsCtrl.checkTipoMovimiento(); accountsCtrl.nuevoMovimiento.tipo }} -> 
                      {{ accountsCtrl.nuevoMovimiento.categoria || '[sin categoria]'}}
                  </div><br/>

                  <!-- cargar nuevo objeto movimiento en movimientos[]:
                  recuperar la cantidad del nuevo movimiento, la fecha y el tipo -->
                    <div class="control-group col-xs-4 col-sm-6">
                      <button type="button" class="btn btn-primary btn-lg"
                              ng-click="accountsCtrl.saveMovimiento()">
                          <span>Añadir {{ accountsCtrl.checkTipoMovimiento(); accountsCtrl.nuevoMovimiento.tipo }}</span>
                      </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!-- {{accountsCtrl.nuevoMovimiento}} -->