<div class="container">
    <div class="row">
		<div class="span12">
			<form class="form-horizontal" action='' method="POST">
			  <fieldset>
			    <div id="legend">
			      <legend class="">Login</legend>
			    </div>
			    <div class="control-group">
			      <!-- email -->
			      <label class="control-label"  for="email">Email</label>
			      <div class="controls">
			        <input type="email" name="email" placeholder="" class="input-xlarge"
			        			ng-model="loginRegisterCtrl.usuario.email">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Password -->
			      <label class="control-label" for="password">Password</label>
			      <div class="controls">
			        <input type="password" name="password" placeholder="" class="input-xlarge"
			        			ng-model="loginRegisterCtrl.usuario.password">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Button: login, acceder al servicion, usuario registrado -->
			      <div class="controls">
			        <button	class="btn btn-primary"
			        				ng-click="loginRegisterCtrl.login()">Usuario del sistema</button>
			      </div>
                <!-- Button: darse de alta en el servicio, nuevo usuario -->
			      <div class="controls">
			        <button	class="btn btn-success"
			        				ng-click="loginRegisterCtrl.registro()">Nuevo registro</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>
